# Pycharm files
.idea/

# Compiled python files
*.pyc

# Agent training results and evaluation environments
src/agent_training/results/logs
src/agent_training/results/checkpoint
src/agent_training/results/.ipynb_checkpoints
src/agent_training/eval_envs

# Additional Latex files
/final_report/chapters/*.aux
/final_report/final_report.aux
/final_report/final_report.bbl
/final_report/final_report.blg
/final_report/final_report.lof
/final_report/final_report.log
/final_report/final_report.lol
/final_report/final_report.lom
/final_report/final_report.lot
/final_report/final_report.out
/final_report/final_report.synctex.gz
/final_report/final_report.toc
